.c-cards{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    row-gap: 2rem;
    column-gap: 2rem;
    margin-top: 2rem;
}
.c-card{
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-columns: max-content auto;
    place-items: center;
    color: var(--white);
    column-gap: 1rem;
    align-items: start;
}
.c-img{
    width: 5rem;
    height: 5rem;
    padding: 0.7rem;
    display: grid;
    place-items: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
    opacity: 0.7;
}
.c-img svg{
    fill: var(--primary-color);
}
.c-card-text-area{
    width: 100%;
    display: grid;
    grid-template-rows: max-content;
    row-gap: 0.5rem;
}
.c-card-text-area h3{
    font-size: x-large;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    .c-cards{
        grid-template-columns: 100%;
    }
    .c-card{
        grid-template-columns: 100%;
        text-align: center;
    }
}