@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');

:root{
    --primary-color:rgb(14, 14, 14);
    --secondary-color:#0000;
    --white: #fff;
    --font-family:"Edu AU VIC WA NT Dots", cursive;
    --second-font-family: "Dosis", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--second-font-family);
    font-weight: 300;
}

body{
    min-height: 100vh;
    background-color: rgb(24, 24, 24);
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(16.4px);
    z-index: 100;
}
.menu{
    color: var(--white);
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::before{
    left: 100%;
}

.logo{
    color: #fff;
    font-size: xx-large;
    text-decoration: none;
    cursor: default;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
.logo span{
    color: var(--secondary-color);
    font-weight: 600;
    font-size: xxx-large;
}
.navbar a{
    color: #fff;
    font-size: smaller;
    text-decoration: none;
    margin-left: 45px;
    transition: .3s;
}

.navbar a:hover{
    color: var(--secondary-color);
}
.navbar a span{
    color: var(--secondary-color);
    padding: 0.3rem;
    font-size: small;
}
#menu-icon{
    font-size: 36px;
    color: #fff;
    display: none;
}
.menu {
    font-size: 36px;
    color: #fff;
    display: none;
    cursor: pointer;
}
@media (max-width: 992px){
    .header{
        padding: 1.25rem 4%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: relative;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0.5rem 4%;
        display: none;
        
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        margin: 1.5rem 0;
        font-size: large;
    }

    .nav-bg{
        position: fixed;
        top: -6.5rem;
        left: 0;
        width: 100%;
        height: 0px;
        padding: 1rem;
        background: rgba(0, 0, 0, 0.849);
        border-bottom: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(19px);
        -webkit-backdrop-filter: blur(16.4px);
        z-index: 1;
        display: grid;
        transition-duration: 0.7s;
    }
    
    .nav-bg.active{
        display: grid;
        top: 6.5rem;
        height: fit-content;
    }
    #menu-icon {
        display: block; /* Shows menu icon in mobile view */
    }
    .navbar {
        /* ...existing styles */
    }

    .navbar.active {
        display: block; /* Toggles navbar visibility */
    }

    .nav-bg.active {
        display: block; /* Toggles nav background visibility */
    }
  
}





/* hero section */
.hero-section{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slide {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeats;
}
.slide1{
    background-image: url(./media/R.webp);    
}
.slide2{
    background-image: url(./media/R1.webp);
}
.slide3{
    background-image: url(./media/R2.webp);
}

.fade {
    opacity: 0;
    z-index: 0;
}

.active {
    display: block;
    opacity: 1;
    z-index: 2;
}

.navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2;
}

.navigation button {
    color: rgb(189, 189, 189);
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: xxx-large;
    transition: background-color 0.3s;
}

.navigation button:hover {
    color: var(--secondary-color);
}

.dots-container {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 15px;
    z-index: 3;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.active-dot {
    background-color: rgba(255, 255, 255, 0.8);
}
.inner-div{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    display: grid;
    place-items: center;
    align-items: center;
    align-content: center;
    text-align: left;
    row-gap: 5rem;
}
.inner-div h2{
    color: var(--white);
    font-size: x-large;
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inner-div h2 span{
    font-size: 6rem;
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.inner-div a{
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid var(--white);
    color: var(--white);
}



@media only screen and (max-width: 600px) {
    .navigation button {
        display: none;
    }
    .inner-div h2 span {
        font-size: 4rem;
    }
}



/* what we do */

.we-do{
    width: 100vw;
    height: fit-content;
    display: grid;
    
    background-color: var(--primary-color);
    padding: 2rem;
    place-items: center;
    
}

.we-do-centner{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: max-content auto;
    place-items: center;
    
}
 .heading{
    width: 100%;
    text-align: center;
    color: var(--white);
    
}
.we-do-centner .heading h2{
    font-family: var(--second-font-family);
    font-weight: 300;
    font-size: xx-large;
    padding-top: 4rem;
}

.line{
    width: 100%;
    height: max-content;
    display: grid;
    place-items: center;
    position: relative;
    display: grid;
    place-items: center;
    margin-top: 3rem;
}
.line span{
    position: absolute;
    color: var(--secondary-color);
    font-size: x-large;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.line div{
    position: absolute;
    color: rgb(0, 0, 0);
    width: 70%;
    height: 1px;
    border-bottom: 1px solid #676767;
}
.we-cards{
    width: 80%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}
.card{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
}
.card-img{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-position: center;
    background-size: 100% 100%;
}
.card1-img{
    background-image: url(./media/R.webp);
}
.card2-img{
    background-image: url(./media/R1.webp);
}
.card3-img{
    background-image: url(./media/R2.webp);
}
.card-img div{
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    opacity: 0.5;
}
.card-text-area{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 1rem;
    padding-top: 2rem;
    color: var(--white);
    text-align: left;
    
}
.card-text-area h3{
    font-weight: 500;
}
.card-text-area h3 span{
    color: var(--secondary-color) ;
    font-weight: 500;
}
@media only screen and (max-width: 600px) {
    .we-do{
        min-height: fit-content;
        position: relative;
        padding: 1rem;
    }
    .we-cards{
        grid-template-columns: 100%;
        row-gap: 1rem;
    }
    .we-cards{
        width: 100%;
    }
}










.our-process {
    width: 100vw;
    height: 400px;
    display: grid;
    place-items: center;
    background-image: url(./media/R.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.process-con {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.726);
    grid-template-rows: max-content auto;
    padding-top: 4rem;
}

.main-area {
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.main-card {
    width: 10rem;
    height: 10rem;
    background-color: var(--secondary-color); /* Make sure var(--secondary-color) is defined */
    color: var(--primary-color); /* Make sure var(--primary-color) is defined */
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition-duration: 1s;
    opacity: 0.8;
}

.main-card h3 {
    font-weight: 700;
    opacity: 1;
}
@media only screen and (max-width: 600px) {
    .our-process{
        height: max-content;
        row-gap: 2rem;
    }
    .main-area{
        grid-template-columns: 100%;
        row-gap: 1rem;
        padding: 1rem;
    }
    .process-con{
        row-gap: 2rem;

    }
}




/* gallery section */
.gallary-section{

}
.gallery-image .heading {
    text-align: center;
    font-size: 2.0em;
    letter-spacing: 1px;
    padding: 40px;
    color: white;
}

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: var(--white);
  position: relative;
  background-color: var(--white);
  
}

.caption {
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: grid;
  place-items: center;
  font-size: x-large;
}
.caption h3{
    color: var(--white);
}
.transparent-box {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  transition: background-color 0.3s ease;
}

.img-box:hover img { 
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.7);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}


.gallary-section .bar{
    width: 100%;
    height: 10rem;
    background-color: var(--secondary-color);
    display: grid;
    place-items: center;
}
.gallary-section .bar a{
    padding: 0.5rem 2rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    transition-duration: 0.5s;
}
.gallary-section .bar a:hover{
    border: 2px solid var(--white);
    color: var(--white);
}

.q-text{
    width: 100vw;
    height: 500px;
    display: grid;
    place-items: center;
    background-attachment: fixed;
    background-image: url(./media/Industrial-Interior-Design-Style-1024x576.webp);
    background-position: center;
    background-size: cover;
}
.q-text .text{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    display: grid;
    place-items: center;
}
.q-text .text div{
    width: 60%;
    height: auto;
    display: grid;
    place-items: center;
    align-items: center;
    color: var(--white);
    row-gap: 2rem;
}

.q-text .text div h3{
    font-size: xx-large;
    font-weight: 400;
}
.q-text .text div p{
    font-size: x-large;

    text-align: center;
}

@media only screen and (max-width: 600px) {
    .q-text{
        width: 100vw;
        height: 350px;

    }
    .q-text .text div h3{
        font-size: x-large;
    }
    .q-text .text div p{
        font-size: large;
    }
    .q-text .text div{
        width: 90%;
    }
}

footer{
    width: 100vw;
    height: max-content;
    padding: 2rem;
    display: grid;
    place-items: center;
    align-items: start;
    color: var(--white);
    grid-template-columns: repeat(3 , 1fr);
}
.logo-area{
    width: 80%;
}
.logo-area a{
    font-size: large;
}
.logo-area a span{
    font-size: x-large;
}
footer .news{
    width: 80%;

}
footer .news h3, footer .contect h3{
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 1rem;
}
footer .contect p{
    margin-bottom: 0.3rem;
}
footer .contect p span{
    font-size: large;
    font-weight: 600;
    color: var(--secondary-color);
}
.copy{
    width: 100vw;
    height: auto;
    padding: 1rem;
    display: grid;
    font-size: small;
    place-items: center;
    color: var(--white);
    font-size: smaller;
}
@media only screen and (max-width: 600px) {
    footer{
        grid-template-columns: 100%;
        row-gap: 3rem;
        justify-items: start;
    }
}
